// HERO
.homepage__hero {
	--vert-spacing: 30px;
	@media screen and (min-width: $lg) {
		--vert-spacing: 60px;
	}

	.container {
		padding-top: 160px;
		padding-bottom: 120px;
		@apply relative min-h-screen flex items-center;

		@media screen and (min-width: $md) {
			padding-top: 140px;
			padding-bottom: 140px;
		}
	}

	&__content {
		width: 100%;
	}

	&__title {
		@apply text-2xl uppercase font-serif font-bold;

		.title-line-container {
			display: inline;

			span {
				opacity: 0;
			}
		}

		@media screen and (min-width: $lg) {
			text-align: center;
			line-height: 1.1;

			.title-line-container {
				display: block;
				overflow: hidden;
				span {
					display: block;
				}
			}
			.eco-responsable {
				transform: translateX(-12%);
			}
		}
	}

	&__description {
		margin-top: 3rem;
		opacity: 0;

		@media screen and (min-width: $lg) {
			position: absolute;
			right: calc(var(--page-padding) * 2);
			top: calc(50% + 4.5vw);
			margin-top: 0;
		}
	}

	&__social {
		position: absolute;
		bottom: var(--vert-spacing);
		left: var(--page-padding);
		display: flex;
		opacity: 0;
	}

	&__arrow {
		position: absolute;
		bottom: var(--vert-spacing);
		right: var(--page-padding);
		opacity: 0;
	}
}

// CONCEPT
.homepage__concept {
	&__image {
		.section-name {
			transform-origin: top left;
			transform: rotate(-90deg) translate(-80%, -30%);
		}
	}
	&__text {
		@apply mt-12;

		@media screen and (min-width: $md) {
			@apply mt-0;
		}

		@media screen and (min-width: $lg) {
			margin-top: 8vw;
		}
	}
	.icones {
		&__item {
			&__img-container {
				@apply flex justify-center items-center;
				height: 70px;
			}
			p {
				@apply text-center;
				line-height: 1.1;
			}
		}
	}
}

// PRODUITS
.homepage__produits {
	.swiper {
		padding: 0 var(--page-padding);
		z-index: 0;

		&.is-moving {
			.homepage__produits__img-container {
				transform: scale(0.95);
			}
		}
	}
	.swiper-wrapper {
		&:hover {
			cursor: grab;
		}
		*:hover {
			cursor: grab;
		}
	}
	.swiper-slide {
		width: 90%;
		margin-right: 30px;

		@media screen and (min-width: $md) {
			width: 40%;
		}

		@media screen and (min-width: $lg) {
			width: calc(
				((100vw - (var(--page-padding) * 2)) / 4) - (2.5rem * 0.75)
			);
			margin-right: 2.5rem;
		}

		&:last-child {
			margin-right: 0;
		}
	}
	&__img-container {
		position: relative;
		height: 0;
		padding-bottom: 130%;
		border-radius: 20px;
		overflow: hidden;
		transition: transform 0.7s ease;
		// @apply bg-dark;

		.visuel-produit {
			position: absolute;
			// opacity: 0.9;
			@apply w-full h-full object-cover;
		}
		.gradient-overlay {
			position: absolute;
			@apply inset-0;
			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 50%,
				rgba(0, 0, 0, 1) 100%
			);
			opacity: 0.15;
			z-index: 1;
		}
	}
	&__list-icones {
		position: absolute;
		bottom: 15px;
		right: 15px;
		z-index: 2;
	}
	.btn-arrow {
		display: none;

		@media screen and (min-width: $lg) {
			display: block;
			position: absolute;
			z-index: 30;
			width: 60px;
			height: 60px;
			border-radius: 100%;
			cursor: pointer;
			background: $light;
			transition: background 0.3s;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: transform 0.25s ease;
			}

			&.arrow-left {
				left: var(--page-padding);
				transform: translate(-50%, -50%);

				&::after {
					background: url("./img/left-arrow.svg") center center
						no-repeat;
					background-size: 21px 21px;
				}
			}
			&.arrow-right {
				right: var(--page-padding);
				transform: translate(50%, -50%);

				&::after {
					background: url("./img/right-arrow.svg") center center
						no-repeat;
					background-size: 21px 21px;
				}
			}
			&.swiper-button-disabled {
				&::after {
					opacity: 0.25;
				}
			}

			&:hover {
				background: darken($light, 5%);
				&::after {
					transform: scale(1.1);
				}
			}
			&:active {
				background: darken($light, 15%);
			}
		}
	}
}

// A PROPOS
.homepage__a-propos {
	&__intro {
		&__image {
			.section-name {
				transform: translate(0, -70%);
			}
			img {
				@media screen and (min-width: $lg) {
					width: 80%;
					margin-left: 20%;
				}
			}
		}
		&__text {
			@apply mt-12;

			@media screen and (min-width: $md) {
				@apply mt-0;
			}
		}
	}

	&__valeurs {
		.double-border {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -10px;
				left: 0;
				height: 5px;
				width: 100%;
				@apply bg-dark;
			}
		}
	}

	&__equipe {
		&__img-container {
			position: relative;
			height: 0;
			padding-bottom: 120%;

			@media screen and (min-width: $lg) {
				padding-bottom: 140%;
			}

			img {
				position: absolute;
				@apply w-full h-full object-cover;
			}
		}
		.gregory {
			@media screen and (min-width: $lg) {
				transform-origin: top right;
				transform: rotate(-90deg) translate(0, -100%);
			}
		}
		.delphine {
			@media screen and (min-width: $lg) {
				transform-origin: top left;
				transform: rotate(-90deg) translate(-100%, 0);
			}
		}
	}
}

// CONTACT
.homepage__contact {
	::selection {
		@apply bg-dark text-light;
	}
}
